<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason19659.ehealth.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jason19659.ehealth.model.OrderDetail" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="medicinal_id" property="medicinalId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_date, medicinal_id, user_id, status, price, amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where id = #{id,jdbcType=CHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from order_detail
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_detail
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jason19659.ehealth.model.OrderDetail" >
    insert into order_detail (id, order_id, order_date, 
      medicinal_id, user_id, status, 
      price, amount)
    values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=CHAR}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{medicinalId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{status,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jason19659.ehealth.model.OrderDetail" >
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="medicinalId != null" >
        medicinal_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicinalId != null" >
        #{medicinalId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason19659.ehealth.model.OrderDetail" >
    update order_detail
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=CHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="medicinalId != null" >
        medicinal_id = #{medicinalId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jason19659.ehealth.model.OrderDetail" >
    update order_detail
    set order_id = #{orderId,jdbcType=CHAR},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      medicinal_id = #{medicinalId,jdbcType=CHAR},
      user_id = #{userId,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>