<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jason19659.ehealth.dao.MedicinalMapper" >
  <resultMap id="BaseResultMap" type="com.jason19659.ehealth.model.Medicinal" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="pubdate" property="pubdate" jdbcType="TIMESTAMP" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, manufacturer, introduction, price, detail, pubdate, image, stock, 
    sales
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from medicinal
    where id = #{id,jdbcType=CHAR}
  </select>
   <select id="selectTop10" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from medicinal
    ORDER BY pubdate desc LIMIT 0 , 10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from medicinal
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jason19659.ehealth.model.Medicinal" >
    insert into medicinal (id, name, type, 
      manufacturer, introduction, price, 
      detail, pubdate, image, 
      stock, sales)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{detail,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP}, #{image,jdbcType=VARCHAR}, 
      #{stock,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jason19659.ehealth.model.Medicinal" >
    insert into medicinal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="pubdate != null" >
        pubdate,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="sales != null" >
        sales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jason19659.ehealth.model.Medicinal" >
    update medicinal
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jason19659.ehealth.model.Medicinal" >
    update medicinal
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      detail = #{detail,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>